<?xml version="1.0" ?>
<model>
    <name>World_A</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Gabriel Castro,  Mariana Godoy, Pedro Trés ,Tiago Ventura </name>
        <email></email>
    </author>
    <description>First world of work 2 of autonomous robots</description>
</model>
